<!DOCTYPE html>
<html lang="en">

<head>
	<title>Enigma</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.png">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/countdowntime/flipclock.css">
	<!--===============================================================================================-->
	<link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/main.css'>
	<link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/util.css'>
	<!--===============================================================================================-->
</head>

<body>

	<div class="bg-img1 size1 overlay1 p-b-35 p-l-15 p-r-15"
		style="background-image: url('images/Background_Static.jpg');">
		<div class="row">
			<div class="col">
				<a onclick="history.back()">
					<i class="fa fa-arrow-circle-left"
						style="font-size:60px; color:#f4511e; float:left; margin:20px 0px 0px 15px;"></i>
				</a>
			</div>
			<div class="col"></div>
			<div class="col"></div>
		</div>
		<div class="flex-col-c p-t-160 p-b-215 respon1">
			<h3 class="l1-txt1 txt-center p-t-30 p-b-100">
				ENIGMA will start in
			</h3>

			<div class="cd100"></div>

		</div>
	</div>





	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/flipclock.min.js"></script>
	<script src="vendor/countdowntime/moment.min.js"></script>
	<script src="vendor/countdowntime/moment-timezone.min.js"></script>
	<script src="vendor/countdowntime/moment-timezone-with-data.min.js"></script>
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<script>
		$('.cd100').countdown100({
			/*Set Endtime here*/
			/*Endtime must be > current time*/
			endtimeYear: 2021,
			endtimeMonth: 04,
			endtimeDate: 24,
			endtimeHours: 00,
			endtimeMinutes: 35,
			endtimeSeconds: 0,
			timeZone: "Asia/Kolkata"
			// ex:  timeZone: "America/New_York"
			//go to " http://momentjs.com/timezone/ " to get timezone
		});


	</script>
	<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="/javascripts/main.js"></script>

</body>

</html>