<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Enigma</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popup.js"></script>
    <script src="/javascripts/play.js"></script>
    <link rel="shortcut icon" href="/images/favicon.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Lobster" rel="stylesheet">

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        body {
            background-color: #FFF8E7 !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="/images/quiz.png" alt="">
            </a>
            <h1 class="enigma">ENIGMA</h1>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard" target="_blank">Leaderboard</a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-item nav-link" href="#" data-toggle="dropdown">Account <i
                                class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <div class="dropdown-menu" id="navbarDropdown">
                            <a href="/profile" class="dropdown-item">Profile</a>
                            <a href="/auth/logout" class="dropdown-item" id="clear">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link last" href="https://discord.gg/Q5fNttK9gT" target="_blank">Forum</a>
                    </li>
                </ul>
                <div class="timebox" id="timebox">
                    <a data-toggle="collapse" href="#collapse" role="button" aria-expanded="false"
                        aria-controls="collapse">
                        <h4 class="timeleftcenter" id="timeleft">TIME LEFT</h4>
                    </a>
                    <div class="tick collapse show" data-did-init="handleTickInit" id="collapse">

                        <div data-repeat="true" data-layout="horizontal fit"
                            data-transform="preset(h, m, s) -> delay">

                            <div class="tick-group">

                                <div data-key="value" data-repeat="true" data-transform="pad(00) -> split -> delay">

                                    <span data-view="flip"></span>

                                </div>

                                <span data-key="label" data-view="text" class="tick-label"></span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="body">
        <br>
        {{{ body }}}
    </div>
</body>

</html>