<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Enigma Registration</title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="/stylesheets/main_registration.css" rel="stylesheet" media="all">
    <script>
        function popup()
        {
          Swal.fire({
                              title:"{{text}}",
                              text:"Please Register Again",
                              button: "Okay",
                              confirmButtonColor: "#4F4F4F"
                            });
        }
        function exists()
        {
          Swal.fire({
                              text:"Username Already Exists",
                              button: "Okay",
                              confirmButtonColor: "#4F4F4F"
                            });
        }
        var format = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
        function validateusername() {
            var username=document.forms["usernameform"]["username"].value;
            if(format.test(username) || username.toLowerCase().includes("admin")){
                Swal.fire({
                    title: "Username Not Allowed!",
                    text: "Username should not include special characters or resemble with ADMIN",
                    button: "Okay",
                    confirmButtonColor: "#4F4F4F"
                });
                return false;
            }
        }
    </script>
</head>
<body onload="{{func}}">
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">ENIGMA REGISTRATION</h2>
                </div>
                <div class="card-body">
                    <form name="usernameform" method="POST" action="/register" onsubmit="return validateusername()">
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="username" required>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
</body>
</html>
