<link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/play_screen.css'>
<link href="https://unpkg.com/@pqina/flip/dist/flip.min.css" rel="stylesheet">
<script src="https://unpkg.com/@pqina/flip/dist/flip.min.js"></script>
<script>
    function handleTickInit(tick) {
        // using this because initial labels are wrong
        // var locale = {
        //     YEAR_PLURAL: 'Jaren',
        //     YEAR_SINGULAR: 'Jaar',
        //     MONTH_PLURAL: 'Maanden',
        //     MONTH_SINGULAR: 'Maand',
        //     WEEK_PLURAL: 'Weken',
        //     WEEK_SINGULAR: 'Week',
        //     DAY_PLURAL: 'HRS',
        //     DAY_SINGULAR: 'HR',
        //     HOUR_PLURAL: 'MINS',
        //     HOUR_SINGULAR: 'MIN',
        //     MINUTE_PLURAL: 'SEC',
        //     MINUTE_SINGULAR: 'SEC',
        //     SECOND_PLURAL: 'Seconden',
        //     SECOND_SINGULAR: 'Seconde',
        //     MILLISECOND_PLURAL: 'Milliseconden',
        //     MILLISECOND_SINGULAR: 'Milliseconde'
        // };

        // for (var key in locale) {
        //     if (!locale.hasOwnProperty(key)) { continue; }
        //     tick.setConstant(key, locale[key]);
        // }
        // format of due date is ISO8601
        // https://en.wikipedia.org/wiki/ISO_8601

        // '2018-01-31T12:00:00'        to count down to the 31st of January 2018 at 12 o'clock
        // '2019'                       to count down to 2019
        // '2018-01-15T10:00:00+01:00'  to count down to the 15th of January 2018 at 10 o'clock in timezone GMT+1

        // create the countdown counter
        var counter = Tick.count.down('2022-04-26T00:00:00+05:30', {
            format: ['h', 'm', 's']
        });

        counter.onupdate = function (value) {
            tick.value = value;
            if (Tick.helper.duration(Tick.helper.date(), Tick.helper.date('2022-04-26T00:00:00+05:30'), ['s'])[0] == 10) {
                setInterval(function () {
                    $("#timebox").toggleClass("backgroundRed");
                }, 500)
            };
        };

        counter.onended = function () {

             window.location = '/play'
            // show message, uncomment the next line
            // document.querySelector('.tick-onended-message').style.display = '';
        };
    }
</script>
<br>
<br>
<center class="enigma">
    <img src="/images/ggwp.gif" style="zoom: 0.5;">
    <h1>{{text}}</h1>
    <h3>Thanks For Playing</h3>
</center>