<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign In</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
  
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
  
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
  	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
  
	<link rel="stylesheet" type="text/css" href="stylesheets/signin.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/signin_util.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<style>

		body{
			background-image:url("../images/Background-Static.jpg");
		}
	</style>
	<script>

		function mail_done()
{
    Swal.fire({
        title: "Sign In",
        text: "Your Sign link is mailed at your registered mail id",
        icon: "success",
        button: "Okay",
        confirmButtonColor: '#4F4F4F'
      });   
}
function mail_notdone()
{
	 Swal.fire({
        title: "Not Registered",
        text: "Please register at Enigma.Fluxus.co.in",
        icon: "error",
        button: "Okay",
        confirmButtonColor: '#4F4F4F'
      }); 
}
function start()
{
	if( {{func}} == 1)
	{
		mail_done();
	}
	else if ( {{func}} == 0)
	{
		mail_notdone();
	}
}
	</script>
</head>
<body onload="start()">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="POST" action="\signin_send" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
			<!>
					<span class="login100-form-title">
						Sign In
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input class="input100" type="text" name="email" placeholder="Email address">
						<span class="focus-input100"></span>
						<p> The links would be mailed to your registered mail account</p>
					</div>

					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							
						</span>

						<a href="#" class="txt2">
							
						</a>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign in
						</button>
					</div>

					<div class="flex-col-c p-t-170 p-b-40">
						<span class="txt1 p-b-9">
							Don’t have an account?
						</span>

						<a href="/signup" class="txt3">
							Sign up now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
  
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  
	<script src="vendor/animsition/js/animsition.min.js"></script>
  
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  
	<script src="vendor/select2/select2.min.js"></script>
  
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<script src="vendor/countdowntime/countdowntime.js"></script>

</body>
</html>