@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
.enigma{
  font-size: 40px;
  color: #f4511e;
  font-family: 'Bubblegum Sans', cursive;
}
.navbar{
  position: relative!important;
}
.dropdown-item,
.nav-link{
  color: #f4511e!important;
  font-size: 25px;
  font-family: 'Bubblegum Sans', cursive;
}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.custom-toggler.navbar-toggler {
  border-color: #f4511e!important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}
.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
  margin: 0;
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #c0ca33;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}
.navbar .navbar-nav .nav-link:focus,.navbar .navbar-nav .nav-link:hover {
  background-color: yellow;
  text-decoration: underline;
}
input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  box-sizing: border-box;
  border: 3px solid  #f4511e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}
input[type=text]:focus {
  border: 3px solid green;
  border-radius: 5px;
}
input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 25px;
  font-family: 'Bubblegum Sans', cursive;
  padding: 8px 22px;
  text-decoration: none;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=submit]:hover{
  color: yellow;
}

.last {
  margin-right: 20px;
}

.timebox {
  width: 240px;
  position:initial;
  text-align: center;
  font-family: 'Bubblegum Sans', cursive;
}

.tick {
  font-size: 1rem;
  white-space: nowrap;
  font-family: arial, sans-serif;
}

.tick-flip,
.tick-text-inline {
  font-size: 2.5em;
}

.tick-label {
  margin-top: 1em;
  font-size: 2em;
}

.tick-char {
  width: 1.5em;
}

.tick-text-inline {
  display: inline-block;
  text-align: center;
  min-width: 1em;
}

.tick-text-inline+.tick-text-inline {
  margin-left: -.325em;
}

.tick-group {
  margin: 0 .5em;
  text-align: center;
}

.tick-text-inline {
  color: #f4511e !important;
}

.tick-label {
  margin-top: 0px !important;
  color: #f4511e !important;
  font-family: 'Bubblegum Sans', cursive;
}

.tick-flip-panel {
  color: white !important;
}

.tick-flip {
  font-family: inherit !important;
}

.tick-flip-panel-text-wrapper {
  line-height: 1.45 !important;
}

.tick-flip-panel {
  background-color: rgba(68, 0, 255, 0.87) !important;
}

.tick-flip {
  border-radius: 0.12em !important;
}

.backgroundRed {
  background: rgb(255, 0, 0);
}

.timeleftcenter{
  text-align: center; 
  color:#f4511e;
}

@media screen and (min-width: 767px) {
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}
@media screen and (max-width: 1000px) {
  .tick {
    font-size: 1rem;
    white-space: nowrap;
    font-family: arial, sans-serif;
    zoom: 0.65;
  }
}

@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}