@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
.enigma{
  font-size: 40px;
  color: #f4511e;
  font-family: 'Bubblegum Sans', cursive;
}
.navbar{
  position: relative!important;
}
.dropdown-item,
.nav-link{
  color: #f4511e!important;
  font-size: 25px;
  font-family: 'Bubblegum Sans', cursive;
}
.custom-toggler.navbar-toggler {
  border-color: #f4511e;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
  margin: 0;
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #c0ca33;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}
.navbar .navbar-nav .nav-link:focus,.navbar .navbar-nav .nav-link:hover {
  background-color: yellow;
  text-decoration: underline;
}
input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  box-sizing: border-box;
  border: 3px solid  #f4511e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}
input[type=text]:focus {
  border: 3px solid green;
  border-radius: 5px;
}
input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 25px;
  font-family: 'Bubblegum Sans', cursive;
  padding: 8px 22px;
  text-decoration: none;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}

@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}