/* body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: .9rem;
  position: relative;
  /*font-weight: 400;*/
  /* padding: 0;
}  */



@media screen and (max-width: 768px){
  #text_hyper{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 4.5vw;
    padding: 0;
    text-align: left;
    margin-top: 0;
    line-height: 100%;
  }

  #text_hyper:hover{
    text-decoration: none;
  }

  .leader2{
    width: 100%;
    height: 100%;
  }
  
  .leader1{
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    font-family: 'Roboto', Arial, sans-serif;
    /* background-image: url('../images/background.jpg'); */
    color: #fff;
    /* display: flex; */
    justify-content: center;
  }
  
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    /* overflow: hidden; */
    font-family: 'Roboto', Arial, sans-serif;
    /* background-image: url('../images/background.jpg'); */
    color: #fff;
    /* display: flex; */
    justify-content: center;
    position: relative;
  }
  
  body::after {
    content: ' ';
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.7);
    position: relative;
  }
  
  .taha{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  }
  
  @media screen and (min-width: 768px){
    #text_hyper{
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      font-size: 2vw;
      margin-top: 0;
      padding: 0;
      text-align: left;
      line-height: 100%;
    }

    #text_hyper:hover{
      text-decoration: none;
    }

    .leader1{
      width: 100%;
      height: 100%;
    }
    
    .leader2{
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    html{
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      /* overflow: hidden; */
      font-family: 'Roboto', Arial, sans-serif;
      /* background-image: url('../images/background.jpg'); */
      color: #fff;
      display: flex; 
      justify-content: center;
    }
    
    body {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-family: 'Roboto', Arial, sans-serif;
      /* background-image: url('../images/background.jpg'); */
      color: #fff;
      /* display: flex; */
      justify-content: center;
      position: relative;
    }
    
    body::after {
      content: ' ';
      /* position: absolute; */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0,0,0,.7);
      position: relative;
    }
    
    .taha{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  .no-gutters{
    margin: 0;
    padding: 0;
  }
  
  .leftside, .rightside{
    height: 50vh;
    width: 100%
  }  

  .images_class{
    text-align: center;
    width: 100%;
    position: absolute;
    height: 85% !important;
    left: 0px;
    bottom: 0px;
  }

  .images{
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  #text_hyper{
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 768px){
    .images_class{
      text-align: center;
      width: 100%;
      height: 85%;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
    }
    .leftside, .rightside{
      text-align: center;
      height: 100vh;
      width: 100% !important;
      opacity: 1;
    }
    #text_hyper{
      width: 100%;
      height: 100%;
    }
  }
  
 

  .leftside{
      background: #9E9E9E;
  }
  
  .leftside:hover{
      opacity: 1;
  }
  
  .rightside:hover{
      opacity: 1;
  }
  
  .col-md-6{
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
  }
  
  .row{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .images{
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  
  .leftside, .rightside{
    margin: 0 !important;
    padding: 0 !important;
  }
  
    form {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      background: #efefef;
      text-align: center;
      position: absolute;
      /*margin: 0px auto;
      background: #efefef;*/
      /*padding: 60px 120px 80px 120px;
      text-align: center;
      -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
      box-shadow: 2px 2px 3px rgba(0,0,0,0.1);*/
    }
    
  @media screen and (min-width: 768px){
    .input {
      width: 50%;
      padding: 10px;
      background: transparent;
      border: none;
      outline: none;
      position: relative;
      margin-top: 40vh;
    }
  }
  
  @media screen and (max-width: 768px){
    .input {
      width: 50%;
      padding: 10px;
      background: transparent;
      border: none;
      outline: none;
      position: relative;
      margin-top: 20vh;
    }
  }
    
    .line-box {
      position: relative;
      width: 70%;
      height: 2px;
      background: #BCBCBC;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    
    .line {
      position: absolute;
      width: 0%;
      height: 2px;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      background: #8BC34A;
      transition: ease .6s;
    }
    
    .input:focus + .line-box .line {
      width: 100%;
    }
    
    .label-active {
      top: -3em;
    }
    
  @media screen and (min-width: 768px){  
    .submit_custom{
      border-radius: 10px;
      background-color: #4F4F4F;
      width: 9vh;
      height: 6vh;
      border-color: #4F4F4F;
      color: white;
      border: 3px;
    }
  
    .submit_custom:hover{
      border-radius: 10px;
      background-color: #4F4F4F;
      width: 9vh;
      height: 6vh;
      border-color: #4F4F4F;
      color: #9E9E9E;
      border: 3px;
    }
  
    .submit_custom:active{
      border-radius: 10px;
      background-color: #4F4F4F;
      width: 9.25vh;
      height: 6.25vh;
      border-color: #4F4F4F;
      color: #9E9E9E;
      border: 5px;
    }
  
    .submit_custom:focus{
      outline: 0;
    }
  }
  
  @media screen and (max-width: 768px){  
    .submit_custom{
      border-radius: 10px;
      background-color: #4F4F4F;
      width: 11vh;
      height: 7vh;
      border-color: #4F4F4F;
      color: white;
      border: 3px;
    }
  
    .submit_custom:hover{
      border-radius: 10px;
      background-color: #4F4F4F;
      width: 11vh;
      height: 7vh;
      border-color: #4F4F4F;
      color: #9E9E9E;
      border: 3px;
    }
  
    .submit_custom:active{
      border-radius: 10px;
      background-color: #4F4F4F;
      width: 11.25vh;
      height: 7.25vh;
      border-color: #4F4F4F;
      color: #9E9E9E;
      border: 5px;
    }
  
    .submit_custom:focus{
      outline: 0;
    }
  }
  
    .fluxus{
      display: inline-block;
      float: left;
      width: 27%;
      height: 18%;
      margin: 0;
    }
    .quiz{
      display: inline-block;
      float: right;
      width: 15%;
      height: auto;
      margin-top: 2.5%;
      margin-right: 2.5%;
    }
  
    a{
      margin: 0;
      padding: 0;
    }
  
  @media screen and (min-width: 768px){
    .leader{
      position: absolute;
      left: 0;
      width: 20%;
      height: 20%;
      color: white;
      border-radius: 0 100% 0 0;
      background-color: #4F4F4F;
      bottom: 0;
      margin: 0;
      padding: 0;
    }
  
    .forum{
      position: absolute;
      right: 0;
      width: 20%;
      height: 20%;
      color: white;
      border-radius: 100% 0 0 0;
      background-color: #4F4F4F;
      bottom: 0;
      margin: 0;
      padding: 0;
    }
  
    .leaderp{
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: 5%;
      margin-bottom:  15%;
      padding: 0;
      font-size: 1.2vw;
    }
  
    .forump{
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 15%;
      margin-bottom: 15%;
      padding: 0;
      font-size: 1.2vw;
    }
  }
  
  @media screen and (max-width: 768px){
    .leader{
      position: absolute;
      left: 0;
      width: 30%;
      height: 20%;
      color: white;
      border-radius: 0 5% 0 0;
      background-color: #4F4F4F;
      bottom: 0;
      margin: 0;
      padding: 0;
    }
  
    .forum{
      position: absolute;
      right: 0;
      width: 30%;
      height: 20%;
      color: white;
      border-radius: 5% 0 0 0;
      background-color: #4F4F4F;
      bottom: 0;
      margin: 0;
      padding: 0;
    }
  
    .leaderp{
      position: absolute;
      left: 0;
      bottom: 0;
      margin-bottom:  15%;
      margin-left: 10%;
      padding: 0;
      font-size: 3.2vw;
    }
  
    .forump{
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 30%;
      margin-bottom: 15%;
      padding: 0;
      font-size: 3.2vw;
    }
  }
  
    p{
      margin: 0;
      padding: 0;
    }
  
    .forum:hover, .leader:hover{
      text-decoration: none;
      font-weight: bold;
      color: #9E9E9E;
    }
  
    .lefttop{
      display: inline-block;
      float: left;
      margin: 0;
      padding: 0;
      width: 15%;
      height: 15%;
      text-align: center;
    }
  
    .righttop{
      display: inline-block;
      float: right;
      margin: 0;
      padding: 0;
      width: 85%;
      height: 15%;
      text-align: center;
    }
  
    #question_number{
      margin: 0;
      font-size: 5vw;
      padding: 0;
      width: 100%;
      height: 100%;
      color: white;
    }

    @media screen and (min-width: 768px){
    #question_description{
      margin: 0;
      font-size: 2.5vw;
      padding: 0;
      width: 100%;
      height: 100%;
      color: lightblue;
      margin: 0;
      padding-top: 5%;
      font-size: 2.5w;
    }
    }

    @media screen and (max-width: 768px){
      #question_description{
        margin: 0;
        font-size: 2.5vw;
        padding: 0;
        width: 100%;
        height: 100%;
        color: lightblue;
        margin: 0;
        font-size: 5vw;
        padding-top: 2.5%;
    }
    }
  
    /* .lower{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 27%;
      text-align: center;
    } */
  
    #question{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      color: white;
    }
  
    .space{
      margin: 0;
      padding: 0;
      height: 5%;
      width: 100%;
    } 
  
  
  /* .github-corner svg {
              opacity: 0;
          }
  
          .github-corner:hover .octo-arm {
              animation: octocat-wave 560ms ease-in-out
          } */
  
          @keyframes octocat-wave {
  
            0%,
            100% {
                transform: rotate(0)
            }
  
            20%,
            60% {
                transform: rotate(-25deg)
            }
  
            40%,
            80% {
                transform: rotate(10deg)
            }
        }
  
        /* @media (max-width:500px) {
            .github-corner:hover .octo-arm {
                animation: none
            }
  
            .github-corner .octo-arm {
                animation: octocat-wave 560ms ease-in-out
            }
        } */
        .leader_head, .leader_para{
            opacity: 0;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }
  
        main {
            margin-top: 10%;
            width: 100%;
            position: relative;
            text-align: center;
            z-index: 2;
            justify-content: center;
            align-self: center;
        }
  
        .leader_head{
            font-family: 'Lobster', Arial, sans-serif;
            text-shadow: 0 0 20px rgba(255,255,255,.7);
        }
  
        #countdown1 {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
  
        .countdown1-item {
            font-size: 20px;
            border-radius: 50%;
            text-align: center;
            width: 100px;
            height: 100px;
            line-height: 100px;
            position: relative;
            opacity: 0;
            margin: 5px;
        }
  
        .countdown1-item.show {
            animation: fadein 2s forwards;
        }
  
        .countdown1-item::before {
            position: absolute;
            content: ' ';
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #4f4f4f;
            left: 0;
            top: 0;
            opacity: 0.4;
        }
  
        .countdown1-item.years {
            animation-delay: 1s;
        }
  
        .countdown1-item.days {
            animation-delay: 1.5s;
        }
  
        .countdown1-item.hours {
            animation-delay: 2s;
        }
  
        .countdown1-item.minutes {
            animation-delay: 2.5s;
        }
  
        .countdown1-item.seconds {
            animation-delay: 3s;
        }
  
        .countdown1-item.years::after {
            content: attr(data-years);
        }
  
        .countdown1-item.days::after {
            content: attr(data-days);
        }
  
        .countdown1-item.hours::after {
            content: attr(data-hours);
        }
  
        .countdown1-item.minutes::after {
            content: attr(data-minutes);
        }
  
        .countdown1-item.seconds::after {
            content: attr(data-seconds);
        }
  
      #countdown2 {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
      }
  
      .countdown2-item {
          font-size: 20px;
          border-radius: 50%;
          text-align: center;
          width: 60px;
          height: 60px;
          line-height: 50px;
          position: relative;
          opacity: 0;
          margin: 5px;
      }
  
      .countdown2-item.show {
          animation: fadein 2s forwards;
      }
  
      .countdown2-item::before {
          position: absolute;
          content: ' ';
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: #4f4f4f;
          left: 0;
          top: 0;
          opacity: .4;
      }
  
      .countdown2-item.years {
          animation-delay: 1s;
      }
  
      .countdown2-item.days {
          animation-delay: 1.5s;
      }
  
      .countdown2-item.hours {
          animation-delay: 2s;
      }
  
      .countdown2-item.minutes {
          animation-delay: 2.5s;
      }
  
      .countdown2-item.seconds {
          animation-delay: 3s;
      }
  
      .countdown2-item.years::after {
          content: attr(data-years);
      }
  
      .countdown2-item.days::after {
          content: attr(data-days);
      }
  
      .countdown2-item.hours::after {
          content: attr(data-hours);
      }
  
      .countdown2-item.minutes::after {
          content: attr(data-minutes);
      }
  
      .countdown2-item.seconds::after {
          content: attr(data-seconds);
      }
  
  
        @keyframes fadein {
            from { opacity: 0; }
            to { opacity: 1; }
        }  