.dummy_content{
    min-height: 100vh;
}
.content.show{
    background-image: url(../images/Background.jpg);
}
.responsive-tabs dt {
    padding: 0.5em;
    border-top: 1px solid #ccc;
    cursor: pointer;
}
.responsive-tabs dt:first-child {
    border-top: 0;
}
.responsive-tabs .active {
    background-color: rgba(204, 204, 204, 0.507);
}
.responsive-tabs .active+dd {
    display: block;
}
.responsive-tabs dd {
    display: none;
    padding: 0.5em;
}
.responsive-tabs-placeholder {
    display: none;
}
@media only screen and (min-width: 768px) {
    .responsive-tabs {
        display: block;
        width: 90%;
    }
    .responsive-tabs dt {
        float: left;
        border-top: 0;
    }
    .responsive-tabs .active+dd {
        display: none;
    }
    .responsive-tabs-placeholder {
        clear: both;
        display: block;
        padding: 1em;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
    }
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2rem;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.dummy-img{
    position: relative;
}


[class*="col-"] {
width: 100%;
}

@media only screen and (min-width: 700px){

body{
background-color: #000000; 
position: fixed;
}

.keyboard{
position: relative;
width: 80%; height: 70%;
background-color: #111;
margin: 0px auto;
border-radius: 9px;
padding: 3%;
color: #eee;
max-width: 850px;
}

.screen
{
position: relative;
width: 60vh; 
height: 10vh;
border-radius: 7px;
border: 4px solid #666;
text-align: center;
font-size: 50px;
margin: 0 auto;
margin-bottom: 2.5%;
}



.key{
position: relative;  
width: 10%; height: 11.2%;
display:block;
background-color:#333;
text-align: left;
padding-left: 1vh;
line-height: 4vh;
border-radius: 0.5%;
float:left; margin-left: 0.5vh;
margin-bottom: 0.5vh;
cursor: pointer;

}

.kee{
position: relative;  
width: 10%; height: 11.2%;
display:block;
background-color:#333;
text-align: left;
padding-left: 1vh;
line-height: 4vh;
border-radius: 0.5%;
float:left; margin-left: 0.5vh;
margin-bottom: 0.5vh;
cursor: pointer;
}

/*.section-a{width: 80vh; height: 40vh; margin: 0 auto;}*/



.function{position: relative; font-size: 2%; width: 6%; height: 11.2%; margin-bottom: 4%;}
.space1{position: relative; margin-right: 4.2% !important;}
.space2{position: relative; margin-right: 3.2% !important;}
.dual {position: relative; font-size: 1%; line-height: 5%; width: 5.75%; height: 11.2%; margin-bottom: 0.5vh;}
.backspace {position: relative; width: 13.25%; height: 11.2%; font-size: 2%;}
.tab {position: relative; width: 7%; line-height: 11.2%; font-size: 2%;}
.letter{position: relative; width: 5.75%;}
.slash{position: relative; width: 12%;}
.caps{position: relative; width: 8.5%; font-size: 2%; line-height: 5%;}
.enter{position: relative; width: 16.8%; text-align: center; padding-left: 0;}
.shift.left{position: relative; width: 15.83%; font-size: 2%;}
.shift.right{position: relative; width: 15.83%; line-height: 40px; font-size:13px;}
.ctrl{position: relative; width: 6%;}
.space{position: relative; width: 40.55%;}


.kee:hover{box-shadow:0px 0px 10px #14B524; z-index:1000;}

}

@media only screen and (min-width: 472px) and (max-width: 700px){

.keyboard{
position: relative;
width: 80%; height: 70%;
background-color: #111;
margin: 0px auto;
border-radius: 9px;
padding: 3%;
color: #eee;
max-width: 850px;
}

.screen
{
position: relative;
width: 60%; 
height: 20%;
border-radius: 7px;
border: 4px solid #666;
text-align: center;
font-size: 50px;
margin: 0 auto;
margin-bottom: 2.5%;
}



.key{
position: relative;  
width: 15%; height: 15%;
display:block;
background-color:#333;
text-align: left;
padding-left: 1vh;
line-height: 4vh;
border-radius: 0.5%;
float:left; margin-left: 0.5vh;
margin-bottom: 0.5vh;
cursor: pointer;

}

.kee{
position: relative;  
width: 15%; height: 15%;
display:block;
background-color:#333;
text-align: left;
padding-left: 1vh;
line-height: 4vh;
border-radius: 0.5%;
float:left; margin-left: 0.5vh;
margin-bottom: 0.5vh;
cursor: pointer;
}

/*.section-a{width: 80vh; height: 40vh; margin: 0 auto;}*/
/*@media only screen and (min-width: 320px) and (max-width: 700px){

}*/


.function{position: relative; font-size: 0; width: 0; height: 0; margin: 0;}
.space1{position: relative; margin: 0; width: 0; height: 0;}
.space2{position: relative; margin: 0; width: 0; height: 0;}
.dual {position: relative; font-size: 0; line-height: 0; width: 0; height: 0; margin: 0;}
.backspace {position: relative; width: 0; height: 0; font-size: 0;}
.tab {position: relative; width: 0; line-height: 0; height: 0; font-size: 0;}
.letter{position: relative; width: 8%;}
.slash{position: relative; width: 0%; height: 0;}
.caps{position: relative; width: 0; font-size: 0; line-height: 0; height: 0;}
.enter{position: relative; width: 0; height: 0; text-align: center; padding: 0; opacity: 0;}
.shift.left{position: relative; width: 16%; font-size: 0;}
.shift.right{position: relative; width: 16%; font-size: 0;}
.ctrl{position: relative; width: 0; height: 0; margin: 0;}
.space{position: relative; width: 80%; height: 45%; margin-left: 9%}

#A{
margin-left: 8%;
}

.lowerkeys{
width: 0;
height: 0;
margin: 0;
}
/*#L{
margin-right: 10%;
}*/
.kee:hover{box-shadow:0px 0px 10px #14B524; z-index:1000;}
}


@media only screen and (max-width: 472px){

.keyboard{
position: relative;
width: 80%; height: 70%;
background-color: #111;
margin: 0px auto;
border-radius: 9px;
padding: 3%;
color: #eee;
max-width: 850px;
}

.screen
{
position: relative;
width: 70%; 
height: 20%;
border-radius: 7px;
border: 4px solid #666;
text-align: center;
font-size: 50px;
margin: 0 auto;
margin-bottom: 2.5%;
}



.key{
position: relative;  
width: 13%; height: 12%;
display:block;
background-color:#333;
text-align: left;
padding-left: 1vh;
line-height: 4vh;
border-radius: 0.5%;
float:left; margin-left: 0.5vh;
margin-bottom: 0.5vh;
cursor: pointer;

}

.kee{
position: relative;  
width: 13%; height: 12%;
display:block;
background-color:#333;
text-align: left;
padding-left: 1vh;
line-height: 4vh;
border-radius: 0.5%;
float:left; margin-left: 0.5vh;
margin-bottom: 0.5vh;
cursor: pointer;
}

/*.section-a{width: 80vh; height: 40vh; margin: 0 auto;}*/
/*@media only screen and (min-width: 320px) and (max-width: 700px){

}*/


.function{position: relative; font-size: 0; width: 0; height: 0; margin: 0;}
.space1{position: relative; margin: 0; width: 0; height: 0; padding: 0;}
.space2{position: relative; margin: 0; width: 0; height: 0; padding: 0;}
.dual {position: relative; font-size: 0; line-height: 0; width: 0; height: 0; margin: 0;}
.backspace {position: relative; width: 0; height: 0; font-size: 0;}
.tab {position: relative; width: 0; line-height: 0; height: 0; font-size: 0; margin: 0; padding: 0;}
.letter{position: relative; width: 8.2%;}
.slash{position: relative; width: 0%; height: 0; margin: 0; padding: 0;}
.caps{position: relative; width: 0; font-size: 0; line-height: 0; height: 0; margin: 0; padding: 0;}
.enter{position: relative; width: 0; height: 0; text-align: center; padding: 0; opacity: 0;margin: 0;}
.shift.left{position: relative; width: 14%; font-size: 0;}
.shift.right{position: relative; width: 14%; font-size: 0;}
.ctrl{position: relative; width: 0; height: 0; margin: 0;}
.space{position: relative; width: 80%; height: 45%; margin-left: 9%}

#A{
margin-left: 8%;
}



.lowerkeys{
width: 0;
height: 0;
margin: 0;
}
/*#L{
margin-right: 10%;
}*/
.kee:hover{box-shadow:0px 0px 10px #14B524; z-index:1000;}
}


